section{
    margin-top: 100px;
}
div{
    width: 400px;
    height: 200px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
    background-image: url("BMW.jpg");
    background-size: cover;
}